/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
/* Variables */

:root {
  --color-win: #78CF82;
  --color-lose: #D94545;
  --color-start: #5b85b7;
  --color-neutral: #445069;
  --color-neutral-light: #D2D2D2;
  --color-keys: #37474F;
  --color-keys-light: #E5E5E5;
  --font-size-large: 60px;
  --font-size-medium: 20px;
  --transition: all .2s ease-in-out;
}

/* main */

* {
  box-sizing: border-box;
}

body {
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  height: 100vh;
  background: rgb(58,97,134);
  background: linear-gradient(87deg, rgba(58,97,134,1) 0%, rgba(137,37,62,1) 100%);
}

li, ol, ul {
  padding: 0;
  display: inline-block;
}

h2 {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-size-large);
  margin: 0;
}

button {
  margin: 6px;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  color: var(--color-keys);
  font-size: var(--font-size-medium);
  background-color: #ac9172;
  border-radius: 10px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
}
button:hover{
  background-color: #cfcccc;
  transform: scale(1.1);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  max-height: 900px;
  text-align: center;
  
}

.section {
  width: 100%;
  padding: 10px;
}

/* Title */

.header {
  color: var(--color-start);
  color: #fff;
  font-family: 'Teko', sans-serif;
}

/* Phrase */

.letter {
  font-size: 30px;
  height: 65px;
  width: 65px;
  padding: 20px 1px 0 1px;
  margin-right: 2px;
  color: transparent;
  background: var(--color-neutral-light);
  border-radius: 5px;
  user-select: none;
  transition: all 1s ease-out;
}

.space {
  width: 15px;
}

.show {
  color: #fff;
  background-color: #92534e;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* Keyboard */

.keyrow {
  display: flex;
  justify-content: center;
}

.chosen {
  background-color: #43856c;
  border-radius: 5px;
  font-size: var(--font-size-medium);
  color: #FFFFFF;
}

.btn__reset {
  padding: 8px;
  margin: 50px auto;
  background: #FFFFFF;
  border-radius: 5px;
  font-size: var(--font-size-medium);
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
}

/* Overlay */

#overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: #FFFFFF;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
}

.title {
  color: #FFF;
  font-family: 'Teko', sans-serif;
}

.start {
  
  background: rgb(48,67,82);
  background: linear-gradient(87deg, rgba(48,67,82,1) 0%, rgba(215,210,204,1) 100%);
}

.start a {
  color: var(--color-win);
}

.win {
 
  background: rgb(61,126,170);
  background: linear-gradient(87deg, rgba(61,126,170,1) 0%, rgba(255,228,122,1) 100%);
}

.win a {
  color: var(--color-win);
}

.lose {
  
  background: rgb(19,106,138);
  background: linear-gradient(87deg, rgba(19,106,138,1) 0%, rgba(38,120,113,1) 100%);
}

.lose a {
  color: var(--color-lose);
}

.result{
  font-family: 'Caveat', cursive;
  font-size: 2em;
}